events {
    worker_connections 1024;
}

http {
    upstream backend {
        # Load balancing method
        least_conn;

        server api1:3000;
        server api2:3000;
        server api3:3000;
    }

    server {
        listen 80;

        location / {
            proxy_pass http://backend;

            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

            # Health check
            proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
        }

        # Endpoint para status do load balancer
        location /nginx_status {
            stub_status on;
            access_log off;
            allow all;
        }
    }
}